body {

}
.image{
    width:100%;
    height: 100%;
    position: absolute;
    top: 100px;
    background-repeat: no-repeat;
    background-size: cover;

}
.title{
  margin-top: 0PX;
  font-size: 80px;
  color: white;
  background-color:	#CD5C5C;
  vertical-align:middle;
  font-family: 'Playball', cursive;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
